.button {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Lato";
  background-color: #bf2222;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
  color: #ffffff;
  }
  
  .button:hover {
    background-color: transparent;
    transition: all ease 0.5s;
    color: #3d2514;
    border: 2px solid #bf2222;
    cursor: pointer;
  }