@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Bebas Neue", "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}

#products {
  width: 100%;
  height: 120vh;
  box-sizing: border-box;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #ffffff;
}
#products h1 {
  font-family: "Alfa Slab One";
  letter-spacing: 2px;
  color: #3d2514;
  font-size: 3rem;
}
#products p {
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  color: #3d2514;
  font-size: 0.8rem;
  margin-top: -15px;
  margin-bottom: 35px;
}
.a-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.a-box {
  background-color: #ffffff;
  width: 300px;
  height: 435px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  position: relative;
}
.a-b-img {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  padding: 15px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.a-box:hover {
  box-shadow: 2px 2px 12px rgba(184, 98, 0, 0.445);
}
.a-b-text {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.a-b-text h2 {
  color: #3d2514;
}
.productbox-button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Lato";
  background-color: #bf2222;
  box-shadow: 5px 10px 30px rgba(255, 103, 2, 0.336);
  border-radius: 5px;
  color: #ffffff;
}
.productbox-button:hover {
  background-color: transparent;
  transition: all ease 0.5s;
  color: #3d2514;
  border: 2px solid #3d2514;
}
#about {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
}

.about-text {
  width: 45%;
  color: #fff;
  text-align: left;
}
.about-text h1 {
  font-size: 3.5rem;
  color: #3d2514;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  font-family: "Alfa Slab One";
}
.about-text p {
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  color: #252525;
  font-size: 1.2rem;
}
.about-text button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Lato";
  background-color: #bf2222;
  box-shadow: 5px 10px 30px rgba(255, 103, 2, 0.336);
  border-radius: 5px;
  color: #ffffff;
}
.about-text button:hover {
  background-color: transparent;
  transition: all ease 0.5s;
  color: #3d2514;
  border: 2px solid #3d2514;
}
.about-image {
  width: 50%;
}
.about-image img {
  width: 600px;
}

#contact {
  margin-top: 120px;
  background-image: url(./images/footer.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h1 {
  font-size: 3.5rem;
  color: #3d2514;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  font-family: "Alfa Slab One";
  margin-bottom: 80px;
}
#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #110c09;
  color: #ffffff;
  border-radius: 5px;
}
#contact form textarea {
  height: 150px;
}
#contact form input[type="submit"] {
  height: 45px;
  background: linear-gradient(90deg, #bf2222 20%, #bf2222);
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #contact form {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
  .about-image img {
    height: 400px;
  }
  #products {
    height: auto;
  }
  .a-container {
    flex-wrap: wrap;
  }
  .a-box {
    flex-grow: 1;
  }
  .a-b-img img {
    object-fit: contain;
  }
}

@media (max-width: 970px) {
  #main {
    height: 650px;
  }
  .header-heading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .pr-heading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-image {
    display: none;
  }
  .header-btn {
    margin-left: 20%;
    margin-top: 20px;
  }
  .pr-btn {
    margin-left: 20%;
    margin-top: 20px;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
    text-align: center;

    margin-top: 0px;
  }
  .about-text {
    width: 90%;
    text-align: center;
  }
  .about-text h1 {
    font-size: 3rem;
  }
  .about-text p {
    width: 100%;
  }
  .about-text button {
    margin-left: 30%;
  }
  #products {
    margin-bottom: 100px;
  }
}

@media (max-width: 400px) {
  .a-box {
    width: 100%;
    height: 400px;
  }
}
